img{
    object-fit: cover;
    object-position: center;
  }
  
  .clickable{
    cursor: pointer;
  }
  
  .container{
    min-width: 100% !important;
  }

  .selected-product{
    color: rgb(33, 108, 221);
  }

  .active-filter {
    background-color: blue;
    color: white;
  }
  