<div class="container my-5">
  <h2 class="text-center mb-4">About us</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card border-0">
        <img
          src="https://www.finedininglovers.com/es/sites/g/files/xknfdk1706/files/styles/article_1200_800/public/2021-11/ni%CC%81scalos%C2%A9iStock.jpg.webp?itok=19K5vVCb"
          class="card-img-top"
          alt="Product image"
        />
        <div class="card-body">
          <h5 class="card-title">Products description</h5>
          <p class="card-text">
            Short description of your product's innovative features.
          </p>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            egestas metus metus, in bibendum lacus rutrum vitae. Nam posuere est
            ut odio efficitur, id orci consectetur. Maecenas id lectus sed arcu
            hendrerit tincidunt.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card border-0">
        <img
          src="https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2023/11/tipos-boletus-3215166.jpg?tf=3840x"
          class="card-img-top"
          alt="Team image"
        />
        <div class="card-body">
          <h5 class="card-title">Team description</h5>
          <p class="card-text">Short description of your team.</p>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            egestas metus metus, in bibendum lacus rutrum vitae. Nam posuere est
            ut odio efficitur, id orci consectetur. Maecenas id lectus sed arcu
            hendrerit tincidunt.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
