<nav class="navbar navbar-expand-sm">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand" href="#">
      <i class="bi bi-house-fill"></i> TerretaShop
    </a>
    <div class="d-flex align-items-center">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active border-end" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border-end" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border-end" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <button class="btn btn-secondary ms-3">
        <i class="bi bi-cart"></i> Your Cart
      </button>
    </div>
  </div>
</nav>
