<div class="row border-bottom">
  <div class="col-12 col-lg-6">
    <img
      src="../assets/img/{{ selectedProduct?.id }}.png"
      alt="Tomate"
      width="100%"
      height="420px"
    />
  </div>
  <div class="col-12 col-lg-6">
    <div *ngIf="selectedProduct" class="d-flex flex-column mt-3">
      <h2>{{ selectedProduct.product }}</h2>
      <div class="d-flex flex-row mb-5 border-bottom">
        <i
          *ngFor="let star of getStarList(selectedProduct.rating)"
          [class]="star"
        ></i>
        <p>5 reviews</p>
      </div>
      <div class="price mb-5 border-bottom">
        <h2>{{ selectedProduct.price }}€</h2>
      </div>
      <div class="description border-bottom mb-5">
        <p>{{ selectedProduct.description }}</p>
      </div>

      <button
        class="btn btn-secondary me-5 px-2"
        (click)="onDeleteProduct(selectedProduct.id)"
      >
        Delete item
      </button>
    </div>
  </div>
</div>
