.suscribe-background {
    background-image: url(https://media.revistagq.com/photos/619fa676fe590a137a761156/16:9/w_1280,c_limit/file-20191014-135521-1l0slwe.jpeg);
    background-size: cover;
    background-position: center;
  }
  