<div class="text-center p-5 suscribe-background">
  <h2 class="mb-4 text-white">Subscribe for more info</h2>
  <form class="subscribe-form">
    <div class="mb-3 d-flex justify-content-center">
      <input
        type="email"
        class="form-control w-50"
        placeholder="Enter your email"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary mb-3">SUBSCRIBE</button>
    <p class="text-white">Subscribe to receive updates and join our list.</p>
  </form>
</div>
