<div class="container my-4">
  <div class="text-center mb-3">
    <h4>Needs more info</h4>
    <p>send me an email to get more info about products</p>
  </div>

  <form class="d-flex justify-content-center">
    <div class="input-group mb-3 w-50">
      <input
        type="email"
        class="form-control"
        placeholder="Enter your email"
        aria-label="Recipient's email"
        aria-describedby="button-addon2"
        required
      />
      <button
        class="btn btn-outline-secondary"
        type="submit"
        id="button-addon2"
      >
        SEND
      </button>
    </div>
  </form>
</div>
